# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Dependency folders
node_modules/
vendor/

# Build / dist output
dist/
build/
out/

# Environment / secrets
.env
.env.local

# IDE / editor settings
.vscode/
.idea/
*.swp
*.swo